header, footer
{
    background-color: #343a40;
}

.nav-color
{
    color: rgba(255, 255, 255, 0.5);
}

/* чтобы фиксированный подвал не перекрывал содержимое страницы */
body
{
    padding-bottom: 80px;
}
